/* style.css */
html, body {    
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrollbars if map is full size */
}

mi-map-mapbox {
  display: block;
  width: 100%; /* Make map fill width */
  height: 100%;
  max-height: 600px;
  margin: 0;
  padding: 0;
}